[submodule "backend"]
	path = backend
	url = https://github.com/Takumikimura1899/GraphQL-NestJS-React-Practice-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Takumikimura1899/GraphQL-NestJS-React-Practice-frontend
